table{
    -webkit-box-shadow: 0px 0px 4px 0px #656565;
    box-shadow: 0px 0px 6px 1px #ededed;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding: 8px;
    border-radius: 16px;
}

table tbody {
    display: table;
    width:100%;
}

tbody tr:first-child {
    height: 48px;
}

tbody tr{
    height: 32px
}

form{
    display:flex;
    flex-direction: column;
}

form .textInput{
    border: 1px solid black;
    width: 200px;
    min-height:32px;
    font-size: 14px;
    padding: 8px;
    transition: box-shadow 0.5s, transform 0.5s;
}

form .textInput:focus{
    outline: none;
    border: 1px solid black;
    transform: scale(1.003);
    box-shadow: 0px 0px 6px 1px #ededed;
}

.group{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-top: 16px;
    justify-content: right;
}