.modal{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}

.backdrop{
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:rgba(205,205,205,0.75);
}

.content{
    position: absolute;
    background-color:white;
    display: flex;
    flex-direction: column;
    padding:16px;
    top: 124px;
    justify-self: center;
    border-radius: 16px;
}