@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: only light;
  color: rgb(37, 37, 37);
  background-color: #FAFAFA;
}

body {
  margin: 0;
    background-color: #FAFAFA;
    min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #252525;
    background-color: #FAFAFA;
  }
}


